{% extends 'index.html' %}

{% block content %}
    {% for menu in menus %}
        <div class="menu menu_details">
            <h1>
                {% if user.is_authenticated %}
                    <a class="" href="{% url 'menu:menu_edit' pk=menu.pk %}">
                        <span class=""></span>
                    </a>
                    <!-- <a class="btn btn-default" href="{% url 'menu:menu_edit' pk=menu.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a> -->
                {% endif %}
                <a href="{{ menu.get_absolute_url }}">{{ menu.season }}</a>
            </h1>
            <ul class="list_items">    
            {% for item in menu.items.all %}
                <li class="menu_item">{{ item }}</li>
            {% endfor %}
            </ul>
            <!-- <p>{{ menu.items.all|join:", "}}</p> -->
            {% if menu.expiration_date %}
                <p class="date">Expires on: {{ menu.expiration_date|date:"SHORT_DATE_FORMAT" }}</p>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'menu:menu_edit' pk=menu.pk %}">Edit Menu</a> <!-- possibly revise? -->
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}