{% extends 'index.html' %}

{% block content %}
 <div class="form_style">
 	<h2 class="new_menu_title">Add A New Menu</h2>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <h3 class="info_message">{{ error }}</h3>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <h3 class="info_error">{{ error }}</h3>
        {% endfor %}
    {% endif %}
    <form action="{% url 'menu:menu_new' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form_field">
                {{ field }}
            </div>
        {% endfor %}
        <button class="submit_button">Register</button>
    </form>
</div>
{% endblock %}
                